@model Xland.ViewModels.ProjectEditViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Breyta verkefni</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Project.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Project.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Project.IsVisible, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.CheckBoxFor(model => model.Project.IsVisible)
                @Html.ValidationMessageFor(model => model.Project.InProgress)
            </div>
        </div>

         <div class="form-group">
            @Html.LabelFor(model => model.Studios, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Studios)
                @Html.ValidationMessageFor(model => model.Studios)
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Designers, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Project.Designers, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.Designers)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.ProjectType, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.DropDownList("projectTypes", null, new { @class="form-control" } )
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.ProjectBeginDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Project.ProjectBeginDate, new Dictionary<string, Object> { { "class", "form-control datepicker" }, { "data-date-format", "dd/mm/yyyy" }, { "data-date-viewmode", "years"}, {"data-date-minviewmode", "months"}, { "placeholder", "dd/mm/yyyy" } })
                @Html.ValidationMessageFor(model => model.Project.ProjectBeginDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.ProjectEndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Project.ProjectEndDate, new Dictionary<string, Object> { { "class", "form-control datepicker" }, { "data-date-format", "dd/mm/yyyy" }, { "data-date-viewmode", "years"}, {"data-date-minviewmode", "months"}, { "placeholder", "dd/mm/yyyy" } })
                @Html.ValidationMessageFor(model => model.Project.ProjectEndDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.InProgress, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.CheckBoxFor(model => model.Project.InProgress)
                @Html.ValidationMessageFor(model => model.Project.InProgress)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.CapitalCost, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Project.CapitalCost, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.CapitalCost)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Affiliates, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Project.Affiliates, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.Affiliates)
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Project.ProjectOwner, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Project.ProjectOwner, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.ProjectOwner)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Contractor, new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Project.Contractor, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.Contractor)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.AreaSize, new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.Project.AreaSize, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Project.AreaSize)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Project.Description, new { cols = "70", rows = "5", @class="form-control tinymce" })
                @Html.ValidationMessageFor(model => model.Project.Description)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Project.DescriptionEnglish, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Project.DescriptionEnglish, new { cols = "70", rows = "12", @class="form-control tinymce" })
                @Html.ValidationMessageFor(model => model.Project.DescriptionEnglish)
            </div>
        </div>
        <!-- Geocomplete -->
        <div class="geocomplete-inputs">
            <div class="form-group">
                <div class="col-md-6 col-md-offset-1">
                    <h3 style="margin-bottom:40px;">Staðsetning og hnit</h3>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <input id="geocomplete" class="form-control" type="text" placeholder="Leita að staðsetningu" style="width:80%;float:left;margin:0 10px 10px 0;" />
                    <input id="find" type="button" class="btn btn-small btn-info" value="Leita">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2"><div id="mapPreview"></div></div>
            </div>
            <div class="form-group"><div class="col-md-offset-2 col-md-2"><a id="reset" class="btn btn-info" href="#" style="display:none;">Reset Marker</a></div></div>
            <div class="form-group">
                @Html.LabelFor(model => model.Project.Lat, new { @class = "control-label col-md-2 geocomplete" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Project.Lat, new Dictionary<string, Object> { { "class", "form-control" }, { "data-geo", "lat" } })
                    @Html.ValidationMessageFor(model => model.Project.Lat)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Project.Long, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.Project.Long, new Dictionary<string, Object> { { "class", "form-control" }, { "data-geo", "lng" } })
                    @Html.ValidationMessageFor(model => model.Project.Long)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Project.ProjectLocation, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Project.ProjectLocation, new Dictionary<string, Object> { { "class", "form-control" }, { "data-geo", "formatted_address" } })
                    @Html.ValidationMessageFor(model => model.Project.ProjectLocation)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Project.Locality, new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Project.Locality, new Dictionary<string, Object> { { "class", "form-control" }, { "data-geo", "locality" } })
                    @Html.ValidationMessageFor(model => model.Project.Locality)
                </div>
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Aftur í lista", "Index", null, new { @class = "btn btn-default" })
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe-U-BLvwE6b8biTRNaYPmboqbJhrlhpU&sensor=false&amp;libraries=places"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
