@model IEnumerable<Xland.ViewModels.ProjectIndexViewModel>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}

<h2>Verkefni</h2>
@Html.ActionLink("Bæta við verkefni", "Create", null, new { @class="btn btn-primary btn-lg btn-create pull-right" })

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.ActionLink("Breyta", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Skoða", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Eyða", "Delete", new { id = item.ID }) 
                    </td>

                </tr>
            }
        </tbody>
    

    </table>
</div>

