@model Xland.ViewModels.ProjectInfoViewModel
@{
    ViewBag.Title = Model.Project.Title;
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<style>


/* ---- .item ---- */

.item {
  float: left;
  width: 300px;
  box-sizing: border-box;
}
.slideshow .item {
    float: none;
}

</style>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5215f1bf6e2cbb92"></script>
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:class="selected"
    }
}

@helper projectType(string name)
{
    if(name == "PublicSpaces") {
        @Resources.Resources.PublicSpaces
    } else if (name == "Historical") {
        @Resources.Resources.Historical
    } else if(name == "Competitions") {
        @Resources.Resources.Competitions
    } else {
        @Resources.Resources.Regional
    }
}
            
            

<div class="top">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand">Xland</a>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="row">
                <header id="project-header">
                    <div class="col-xs-12 col-sm-8 col-md-6">
                        <h1 class="project-title">@Html.DisplayFor(model => model.Project.Title)</h1>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-6">
                        <div class="row">
                            <a href="/" class="btn-back btn-mobile"><span>@Resources.Resources.Back</span></a>
                            <a href="/" class="btn-back-desktop"><span>@Resources.Resources.Back</span></a>
                            @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { @class="lang" }))
                            {
                                <div id="select-language">
                                    <input type="hidden" name="culture" />
                                    <a href="javascript:void(0);" @selected("en-us", culture) data-culture="en-us">En</a>
                                    <a href="javascript:void(0);" @selected("is-is", culture) data-culture="is">Is</a>
                                </div>
                            }
                            
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </div>
</div>

<div id="content">

    <div class="row">

        <div class="col-sm-4 col-md-3">

            <div id="project-info">
                <div class="project-type"><span>@Resources.Resources.Category</span>@projectType(Model.Project.ProjectType.ToString())</div>
                <h3>@Resources.Resources.StudiosAndParticipants</h3>
                <dl>
                    @if (Model.Project.Studios.Count > 0)
                    {
                        <dt>@Resources.Resources.Studios</dt>
                        <dd> 
                            @{var last = Model.Project.Studios.Last();}
                            @foreach (var studio in Model.Project.Studios)
                             { 
                                 <span>@studio.Name 
                                     @if (!studio.Equals(last))
                                     {
                                        @Html.Raw("&#44;");
                                     }
                                  </span>
                             }  
                        </dd>
                    }
        
                    @if (Model.Project.Designers != null)
                    {
                        <dt>@Html.DisplayNameFor(model => model.Project.Designers)</dt>
                        <dd>@Html.DisplayFor(model => model.Project.Designers)</dd>
                    }
        
                    @if (Model.Project.ContactPerson != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ContactPerson)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ContactPerson)
                        </dd>
                    }
        
                </dl>

                @if (Model.Project.Affiliates != null)
                {
                    <h3>@Resources.Resources.Affiliations</h3>
                    <dl>
                        <dt>@Html.DisplayNameFor(model => model.Project.Affiliates)</dt>
                        <dd>@Html.DisplayFor(model => model.Project.Affiliates)</dd>
                    </dl>
                }
    

                <h3>@Resources.Resources.GeneralInformation</h3>
                

                <dl>
                    @if (Model.Project.ProjectOwner != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectOwner)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectOwner)
                        </dd>
                    }
        
                    @if(Model.Project.Contractor != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.Contractor)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.Contractor)
                        </dd>
                    }
        
                    @if(Model.Project.ProjectBeginDate != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectBeginDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectBeginDate)
                        </dd>
                    }

                    @if (Model.Project.ProjectEndDate.ToString() != DateTime.MaxValue.ToString())
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectEndDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectEndDate)
                        </dd>
                    }
        
                    @if (Model.Project.InProgress == true && Model.Project.ProjectEndDate == DateTime.MaxValue)
                    {
                        <dt>
                            @Resources.Resources.ProjectStatus
                        </dt>
                        <dd>
                            @if (Model.Project.InProgress == true)
                            {
                                Html.Raw("Verkefni ólokið");
                            }
                            else
                            {
                                Html.Raw("Verkefni lokið");
                            }
                        </dd>
                    }

                    @if (Model.Project.CapitalCost != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.CapitalCost)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.CapitalCost)
                        </dd>
                    }
        
                    @if (Model.Project.ProjectType != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectType)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectType)
                        </dd>
                    }
        
                    @if (Model.Project.AreaSize != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.AreaSize)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.AreaSize)
                        </dd>
                    }
        
                    @if (Model.Project.ProjectLocation != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectLocation)
                        </dd>
                    }
        
                    @if (Model.Project.Locality != null)
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.Locality)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.Locality)
                        </dd>
                    }
        
                </dl>

                <!--i class="fa fa-file-text-o fa-5x"></!--i-->

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_sharing_toolbox"></div>
                </div>
            </div>
            
       
        
        <div  class="col-xs-12 col-sm-8 col-md-9">

            @if (Model.Photos != null)
            {
                <div id="grid-gallery" class="grid-gallery">
                    <section class="grid-wrap">
                        <ul class="grid cs-style-3">
                            <li class="grid-sizer"></li>
                        @foreach (var photo in Model.Photos)
                        {
                            <li>
                                <figure>
                                    <img src="@Url.Content(photo.Path)?width=300" alt="@photo.Title" data-imageid="@photo.ID" class="item" />
                                    <figcaption><h3>@photo.Title</h3><span>@photo.Description</span></figcaption>
                                </figure>
                            </li>
                        }
                        </ul>
                    </section>
                
                    <section class="slideshow">
                        <ul>
                        @foreach (var photo in Model.Photos)
                        {
                            <li>
                                <figure>
                                    <img src="@Url.Content(photo.Path)?w=740&h=500&bgcolor=D9D9D9" alt="@photo.Title" data-imageid="@photo.ID" class="item" />
                                    <figcaption>
                                        <h3>@photo.Title</h3>
							            <span>@photo.Description</span>
                                    </figcaption>
                                </figure>
                            </li>
                        }
                        </ul>
                        <nav>
				            <span class="icon nav-prev"></span>
				            <span class="icon nav-next"></span>
				            <span class="icon nav-close"></span>
			            </nav>
                        <div class="info-keys icon">Navigate with arrow keys</div>
                    </section>
                </div>
            
            }
            <div class="row">
                <div id="project-description" class="col-sm-12 col-md-12">
                    <h2>@Resources.Resources.Description</h2>
                    @{
                        if(culture.ToLower() == "is-is") {
                    
                            if (Model.Project.Description != null)
                            {
                                @Html.Raw(Model.Project.Description)
                            }
                        }
                        else {
                            if (Model.Project.DescriptionEnglish != null)
                            {
                                @Html.Raw(Model.Project.DescriptionEnglish)
                            }
                        }
                    }
                </div>
            </div>
        </div>

    </div>
    
</div>