@model Xland.ViewModels.ProjectInfoViewModel
@using Xland.Helpers;
@{
    ViewBag.Title = Model.Project.Title;
    Layout = "~/Views/Shared/_Layout_Project.cshtml";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5215f1bf6e2cbb92"></script>
@helper selected(string c, string culture)
{
    if (c == culture)
    {
        @:class="selected"
    }
}

@helper projectType(string name)
{
    if(name == "PublicSpaces") {
        @Resources.Resources.PublicSpaces
    } else if (name == "Historical") {
        @Resources.Resources.Historical
    } else if(name == "Competitions") {
        @Resources.Resources.Competitions
    } else {
        @Resources.Resources.Regional
    }
}

<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
                    <div class="navbar-header">
                        <a href="@Url.Action("Index", "Home")" class="navbar-brand">Xland</a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-4 col-sm-push-5 col-md-4 col-md-push-6 col-lg-3 col-lg-push-7" id="top-controls">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="btn-back"><i class="fa fa-chevron-left"></i>@Resources.Resources.Back</a>
                        </div>
                        <div class="col-xs-6">
                            @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { @class="lang" }))
                            {
                                <div id="select-language">
                                    <input type="hidden" name="culture" />
                                    <a href="javascript:void(0);" @selected("en-us", culture) data-culture="en-us">En</a>
                                    <a href="javascript:void(0);" @selected("is-is", culture) data-culture="is">Is</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--div class="col-xs-12 col-sm-5 col-sm-pull-4 col-md-6 col-md-pull-4 col-lg-7">
                    <div class="row">
                        <header id="project-header">
                            <h1 class="project-title">@Html.DisplayFor(model => model.Project.Title)</h1>
                        </header>
                    </div>
                </!--div-->
            </div>
        </div>
        
    </div>
</div>

<div id="content">

    <div class="row">

        <div class="details">
            <div class="col-sm-4 col-md-3">

            <div id="project-info">
                <div class="project-type"><span>@Resources.Resources.Category</span>@projectType(Model.Project.ProjectType.ToString())</div>

                <h3>@Resources.Resources.StudiosAndParticipants</h3>
                <dl>
                    @if (Model.Project.Studios.Count > 0)
                    {
                        <dt>@Resources.Resources.Studios</dt>
                        <dd> 
                            @{var last = Model.Project.Studios.Last();}
                            @foreach (var studio in Model.Project.Studios)
                             { 
                                 <span>@studio.Name 
                                     @if (!studio.Equals(last))
                                     {
                                        @Html.Raw("&#44;");
                                     }
                                  </span>
                             }  
                        </dd>
                    }
        

                    @Html.LabelDisplayFor(model => model.Project.Designers)
        
        
                </dl>
    
                <h3>@Resources.Resources.GeneralInformation</h3>

                <dl>
                    @Html.LabelDisplayFor(model => model.Project.Affiliates)

                    @Html.LabelDisplayFor(model => model.Project.ProjectOwner)
        
                    @Html.LabelDisplayFor(model => model.Project.Contractor)

                    @Html.LabelDisplayFor(model => model.Project.ProjectBeginDate)

                    @if (Model.Project.ProjectEndDate.ToString() != DateTime.MaxValue.ToString())
                    {
                        <dt>
                            @Html.DisplayNameFor(model => model.Project.ProjectEndDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Project.ProjectEndDate)
                        </dd>
                    }
        
                    @if (Model.Project.InProgress == true && Model.Project.ProjectEndDate == DateTime.MaxValue)
                    {
                        <dt>
                            @Resources.Resources.ProjectStatus
                        </dt>
                        <dd>
                            @if (Model.Project.InProgress == true)
                            {
                                Html.Raw("Verkefni ólokið");
                            }
                            else
                            {
                                Html.Raw("Verkefni lokið");
                            }
                        </dd>
                    }


                    @Html.LabelDisplayFor(model => model.Project.CapitalCost)
                    @Html.LabelDisplayFor(model => model.Project.ProjectType)
                    @Html.LabelDisplayFor(model => model.Project.AreaSize)
                    @Html.LabelDisplayFor(model => model.Project.ProjectLocation)
                    @Html.LabelDisplayFor(model => model.Project.Locality)
        
        
                </dl>

                <!--i class="fa fa-file-text-o fa-5x"></!--i-->

                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <!--div class="addthis_sharing_toolbox"></!--div-->

                <div class="fb-like" data-href="http://www.ruv.is/ras2" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
            </div>
        </div>
        
            
       
        
        <div  class="col-xs-12 col-sm-8 col-md-9">

            @if (Model.Photos != null)
            {
                <div id="grid-gallery" class="grid-gallery">
                    <section class="grid-wrap">
                        <ul class="grid cs-style-3">
                            <li class="grid-sizer"></li>
                        @foreach (var photo in Model.Photos)
                        {
                            <li>
                                <figure>
                                    <img src="@Url.Content(photo.Path)?width=300" alt="@photo.Title" data-imageid="@photo.ID" class="item" />
                                    <figcaption><h3>@photo.Title</h3><span>@photo.Description</span></figcaption>
                                </figure>
                            </li>
                        }
                        </ul>
                    </section>
                
                    <section class="slideshow">
                        <ul>
                        @foreach (var photo in Model.Photos)
                        {
                            <li>
                                <figure>
                                    <img src="@Url.Content(photo.Path)?w=740&h=500&bgcolor=D9D9D9" alt="@photo.Title" data-imageid="@photo.ID" class="item" />
                                    <figcaption>
                                        <h3>@photo.Title</h3>
							            <span>@photo.Description</span>
                                    </figcaption>
                                </figure>
                            </li>
                        }
                        </ul>
                        <nav>
				            <span class="icon nav-prev"></span>
				            <span class="icon nav-next"></span>
				            <span class="icon nav-close"></span>
			            </nav>
                        <div class="info-keys icon">Navigate with arrow keys</div>
                    </section>
                </div>
            
            }
            <div class="row">
                <div id="project-description" class="col-sm-12 col-md-12">
                    <h1 class="project-title">@Html.DisplayFor(model => model.Project.Title)</h1>
                    @{
                        if(culture.ToLower() == "is-is") {
                    
                            if (Model.Project.Description != null)
                            {
                                @Html.Raw(Model.Project.Description)
                            }
                        }
                        else {
                            if (Model.Project.DescriptionEnglish != null)
                            {
                                @Html.Raw(Model.Project.DescriptionEnglish)
                            }
                        }
                    }
                </div>
            </div>
        </div>

    </div>
    
</div>