@model Xland.Models.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
    
}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h2 class="form-signin-heading">Innskráning</h2>
    
    
    @Html.TextBoxFor(m => m.UserName, new Dictionary<string, object> { {"type", "text"}, {"class", "form-control username"}, {"placeholder","Notendanafn"}, {"required", "required"}, {"autofocus", "autofocus"} } )
    @Html.ValidationMessageFor(m => m.UserName)

    
    @Html.PasswordFor(m => m.Password, new Dictionary<string, object> { {"type", "password"}, {"class", "form-control"}, {"placeholder","Lykilorð"} } )
    @Html.ValidationMessageFor(m => m.Password)


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.RememberMe, new { @value = "remember me" })
            Muna eftir mér
        </label>
    </div>
    

    
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Innskrá" />
    <p>
        @*@Html.ActionLink("Register", "Register") if you don't have an account.*@
    </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
