<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=utf-8" />

        <title>Xland</title>

        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

        @Styles.Render("~/bundles/pluginCss")
        @Styles.Render("~/Content/less/bootstrap.less")

        <link rel="stylesheet" type="text/css" href="/Content/pluginCss/grid-gallery-component.css" />
            
        @RenderSection("scripts", required: false)
    </head>
    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
        var isAdmin = "";
    }
    <body class="frontpage">
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/is_IS/sdk.js#xfbml=1&appId=131407496916188&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
        @helper selected(string c, string culture)
        {
            if (c == culture)
            {
                @:class="selected"
            }
        }
        @if (User.Identity.IsAuthenticated)
        {
            isAdmin="admin";
            @Html.Partial("_LoginPartial")
        }
        <div class="navbar navbar-fixed-top @Html.Raw(isAdmin)">
            <div class="container-fluid">
            
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="navbar-header">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-4" id="logo">
                                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">Xland</a>
                                </div>
                                <div class="col-md-8 col-sm-6 col-xs-8" id="slogan">
                                    <div class="slogan"><span class="slogan">@Resources.Resources.Slogan</span></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="top-controls">
                        <div class="row">
                            <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12 category-select">
                                <div >
                                    <select class="cs-select cs-skin-underline">
				                        <option disabled selected>@Resources.Resources.ChooseCategory</option>
                                        <option value="0">@Resources.Resources.PublicSpaces</option>
				                        <option value="1">@Resources.Resources.Historical</option>
				                        <option value="2">@Resources.Resources.Competitions</option>
				                        <option value="3">@Resources.Resources.SpatialPlanning</option>
				                        <option value="4">@Resources.Resources.RecentlyAdded</option>
                                        <option value="5">@Resources.Resources.All</option>
			                        </select>
                                </div>
		                    </div>
                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 language-select">
                                <div class="pull-right">
                                    <div class="about-xland">
                                        <span class="about" title="@Resources.Resources.AboutXland">@Resources.Resources.AboutXland</span>
                                        @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { @class="lang" }))
                                        {
                                            <div id="select-language">
                                                <input type="hidden" name="culture" />
                                                <a href="javascript:void(0);" @selected("en-us", culture) data-culture="en-us">En</a>
                                                <a href="javascript:void(0);" @selected("is-is", culture) data-culture="is-is">Is</a>
                                            </div>
                                        }
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="preload" style="display:none;">
            <img src="@Url.Content("~/Content/gear.svg")" />
        </div>

        <div id="projectContainer">

            <div class="container-fluid">
       
                
                
            </div>
            
        </div>
        <!--div id="templates" style="display: none;"></!--div-->
        <script id="template-project" type="x-tmpl-mustache">

            <div class="top-header">
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-6">
                        <div class="project-category">
                            <span class="cat">@Resources.Resources.Category</span>
                            <span>{{ProjectType}}</span>
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-6">
                        <i class="close-project pull-right"></i>
                    </div>
                
                </div>
            </div>
    
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <div id="project-info">
                        <h3>@Resources.Resources.StudiosAndParticipants</h3>
                        <dl>
                            {{#Project.Studios.length}}
                                <dt><span>@Resources.Resources.Studios</span></dt>
                                {{#Project.Studios}}
                                    <dd>{{Name}}</dd>
                                {{/Project.Studios}}
                            {{/Project.Studios.length}}
                            {{#Project.Designers.length}}
                                <dt>@Resources.Resources.Designers</dt>
                                <dd>{{Project.Designers}}</dd>
                            {{/Project.Designers.length}}

                        </dl>
                        <h3>@Resources.Resources.GeneralInformation</h3>
                        <dl>
                            {{#Project.Affiliates.length}}
                                <dt>@Resources.Resources.Affiliations</dt>
                                <dd>{{Project.Affiliates}}</dd>
                            {{/Project.Affiliates.length}}
                            {{#Project.ProjectOwner.length}}
                                <dt>@Resources.Resources.ProjectOwner</dt>
                                <dd>{{Project.ProjectOwner}}</dd>
                            {{/Project.ProjectOwner.length}}
                            {{#Project.Contractor.length}}
                                <dt>@Resources.Resources.Contractor</dt>
                                <dd>{{Project.Contractor}}</dd>
                            {{/Project.Contractor.length}}

                            {{#ProjectExecutionPeriod.length}}
                                <dt>@Resources.Resources.ExecutionTime</dt>
                                <dd>{{{ProjectExecutionPeriod}}}</dd>
                            {{/ProjectExecutionPeriod.length}}
                            {{#Project.CapitalCost.length}}
                                <dt>@Resources.Resources.CapitalCost</dt>
                                <dd>{{Project.CapitalCost}}</dd>
                            {{/Project.CapitalCost.length}}
                            {{#Project.AreaSize.length}}
                                <dt>@Resources.Resources.AreaSize</dt>
                                <dd>{{Project.AreaSize}}</dd>
                            {{/Project.AreaSize.length}}
                            {{#Project.ProjectLocation.length}}
                                <dt>@Resources.Resources.ProjectLocation</dt>
                                <dd>{{Project.ProjectLocation}}</dd>
                            {{/Project.ProjectLocation.length}}
                            {{#Project.Locality.length}}
                                <dt>@Resources.Resources.Locality</dt>
                                <dd>{{Project.Locality}}</dd>
                            {{/Project.Locality.length}}
                        </dl>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
         
                    <div class="main-content">
                        {{#Photos.length}}
                            <div id="grid-gallery" class="grid-gallery">
                                <section class="grid-wrap">
                                    <ul class="grid cs-style-3">
                                        <li class="grid-sizer"></li>
                                        {{#Photos}}
                                            <li>
                                                <figure><img src="{{Path}}?width=300" alt="{{Title}}" class="item" data-image-id="{{ID}}"></figure>
                                            </li>
                                        {{/Photos}}
                                        {{#Videos.length}}
                                            <li>
                                                <figure>
                                                    <video controls data-video-id="{{ID}}" src="" class="item">
                                                        <source src="{{Path}}?width=300" type="video/mp4" />
                                                        <p>Your browser does not support this format</p>
                                                    </video>
                                                </figure>
                                            </li>
                                        {{/Videos.length}}
                                    </ul>
                                </section>

                                <section class="slideshow">
                                    <ul>
                                        {{#Photos}}
                                            <li>
                                                <figure>
                                                    <img src="{{Path}}?w=800&h=600" alt="{{Title}}" data-image-id="{{ID}}" class="item">
                                                        <figcaption>
                                                            <h3>{{Title}}</h3>
                                                            <span>{{Description}}</span>
                                                        </figcaption>
                                                    </img>
                                                </figure>
                                            </li>
                                        {{/Photos}}
                                        {{#Videos}}
                                            <li>
                                                <figure>
                                                    <video controls data-video-id="{{ID}}" class="item" >
                                                        <source src="{{Path}}?w=800&height=600" type="video/mp4">
                                                        <p>Your browser does not support this format</p>
                                                    </video>
                                                </figure>
                                            </li>
                                        {{/Videos}}
                                    </ul>
                                    <nav>
                                        <span class="icon nav-prev"></span>
                                        <span class="icon nav-next"></span>
                                        <span class="icon nav-close"></span>
                                    </nav>

                                </section>
                            </div>
                        
                        {{/Photos.length}}

                        <div id="project-description">
                            <h1 class="project-title">{{Project.Title}}</h1>
                            <div class="description">{{{Project.Description}}}</div>
                        </div>
                        <div class="social-media">
                            <div class="row">
                                <div class="col-xs-12 col-xs-offset-0 col-sm-8 col-sm-offset-4 col-md-6 col-md-offset-6 col-lg-4 col-lg-offset-8">
                                    <div class="pull-right">
                                        <div class="sm">
                                            <div class="fb-like" data-href="" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                                        </div>
                                        <div class="sm">
                                            <a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="xland">Tweet</a>
                                        </div>
                                        <div class="sm">
                                            <a href="//www.pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"  data-pin-color="red"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png" /></a>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </script>
        <div id="about">
            
            <div class="about-content">
                <i class="fa fa-close fa-2x"></i>
				<h2>Hvað er XLAND? </h2>
				<p>XLAND er lifandi gátt sem býður þér, fjölskyldu þinni og vinum í ferðalag um vel hönnuð borgarrými. Félag íslenskra landslagsarkitekta stendur fyrir fyrstu gagnvirku sýningunni þar sem verkum landslagsarkitekta á höfuðborgarsvæðinu er komið á kortið í bókstaflegum skilningi. Verkefnið er unnið í tengslum við Hönnunarmars 2013 og hlaut nafnið XLAND, sem vísar til meginmarkmiðs síðunnar að merkja með X-i og vekja athygli á vel hönnuðum og áhugaverðum almenningsrýmum í borginni okkar. Við stefnum að sjálfsögðu á að XLAND nái yfir Ísland allt þegar fram líða stundir.</p> 
				<p>Verkin eru staðsett á gagnvirku korti af höfuðborgarsvæðinu. Sé smellt á verk opnast gátt þar sem verkunum er miðlað með ljósmyndum, teikningum grafískum skissum, myndböndum og texta. Þannig kemst þú í návígi við hönnuðina og hugsunina sem liggur að baki borgarrýmum í þínu nánasta umhverfi.</p>
				<p>Í tengslum við opnun heimasíðunnar er gagnvirk sýning í Hafnarhúsinu, Listasafni Reykjavíkur dagana 14. - 17. mars þar sem gestum gefst tækifæri til að vafra um vel hönnuð og lifandi borgarrými á risavöxnum skjá. Heimasíðan er jafnframt kærkomin viðbót í afþreyingarflóru höfuðborgarinnar þar sem hægt er að fletta upp almenningsrýmum hvar sem þú ert á ferðinni í gegnum tölvu, i-pad, síma o.s.frv. </p>
				<h2>Hverjir standa á bakvið XLAND?</h2>
				<p>Að verkefninu standa þrír landslagsarkitektar, sem jafnframt eru meðlimir í FÍLA, í samstarfi við grafískan hönnuð og vefforritara. Þetta eru þær </p>
				<ul>
					<li>Björk Guðmundsdóttir <a href="www.landsvirkjun.is">www.landsvirkjun.is</a>, landslagsarkitekt hjá Landsvirkjun</li>
					<li>Heiða Aðalsteinsdóttir <a href="http://www.alta.is/starfsfolk/heidha-adhalsteinsdottir">http://www.alta.is/starfsfolk/heidha-adhalsteinsdottir</a>, landslagsarkitekt hjá Alta ehf</li>
					<li>Svava Þorleifsdóttir <a href="http://landslag.is/starfsfolk/svava-thorleifsdottir">http://landslag.is/starfsfolk/svava-thorleifsdottir</a>, landslagsarkitekt hjá Landslagi ehf. </li>
					<li>Jóhannes Freyr Þorleifsson, grafískur hönnuður og vefforritari sá um útlits- og viðmótshönnun heimasíðunnar. </li>
				</ul>
				<p>Það er von okkar að heimasíðan megi vaxa og dafna og að fólk njóti góðs af því að geta nálgast upplýsingar um þessi verk á einum stað. Sérstakar þakkir færum við þeim Einari E. Sæmundssyni, landslagsarkitekt hjá Landmótun og Samson B. Harðarsyni, lektor hjá LbhÍ fyrir veitta aðstoð við samantekt sögulegra verkefna. Þá viljum við þakka öllum þeim tóku þátt í verkefninu með okkur með því að senda inn verk. </p>

			</div>
        </div>
        <div id="map-container">
                @RenderSection("featured", required: false)
                @RenderBody()
        </div>
            @*Html.Partial("_NavigationPartialFixed")*@
    

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/Scripts/GoogleGridGallery/imagesloaded.pkgd.min.js"></script>
	<script src="/Scripts/GoogleGridGallery/masonry.pkgd.min.js"></script>
	<script src="/Scripts/GoogleGridGallery/cbpGridGallery.js"></script>

    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/bundles/front")


    </body>

    
</html>
