<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Xland</title>

        @Styles.Render("~/Content/less/bootstrap.less")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/admin")


        @RenderSection("scripts", required: false)
    </head>
    @{
        var isAdmin = "";
        if(User.Identity.IsAuthenticated) 
        {
            isAdmin = "admin";
        }
    }
    
    <body class="@Html.Raw(isAdmin)">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_LoginPartial")
        }
        @Html.Partial("_NavigationPartialFixed")
        <div class="container-fluid">
            
            <div class="row row-offcanvas row-offcanvas-left">

                <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                    <ul class="nav nav-sidebar">
                        <li>@Html.ActionLink("Verkefni", "Index", "Project")</li>
                        <li>@Html.ActionLink("Stofur", "Index", "Studio")</li>
                        <li>@Html.ActionLink("Myndagallerí", "Index", "PhotoGallery")</li>
                        <li>@Html.ActionLink("Myndbandsgallerí", "Index", "VideoGallery")</li>
                    </ul>
                </div>
                <div class="col-sm-9 col-md-10 main">
                    <div class="content">
                        @RenderSection("featured", required: false)
                        @RenderBody()
                    </div>
                    
                </div>
            </div>

        </div>

        @Scripts.Render("~/bundles/bootstrap")
    </body>
    
</html>
