<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge;charset=utf-8" />
        <title>@ViewBag.Title - Xland</title>

        @Styles.Render("~/Content/less/bootstrap.less")
        @Styles.Render("~/bundles/pluginCss")
        <link rel="stylesheet" type="text/css" href="/Content/pluginCss/grid-gallery-component.css" />


        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/front")

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        @RenderSection("scripts", required: false)
    </head>
     @{
        var isAdmin = "";
        if(User.Identity.IsAuthenticated) 
        {
            isAdmin = "admin";
        }
    }
    <body class="project @Html.Raw(isAdmin)">
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/is_IS/sdk.js#xfbml=1&appId=131407496916188&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

        </script>
       @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_LoginPartial")
        }
        <div id="wrap" class="container-fluid">
            @RenderSection("featured", required: false)
            @RenderBody()
        </div>        
         
        @Scripts.Render("~/bundles/bootstrap")

        <script src="/Scripts/application-front.js" ></script>

        <script src="/Scripts/GoogleGridGallery/imagesloaded.pkgd.min.js"></script>
		<script src="/Scripts/GoogleGridGallery/masonry.pkgd.min.js"></script>
		<script src="/Scripts/GoogleGridGallery/classie.js"></script>
		<script src="/Scripts/GoogleGridGallery/cbpGridGallery.js"></script>
		


    </body>
</html>
