<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Xland</title>

        @Styles.Render("~/Content/less/bootstrap.less")

        <link rel="stylesheet" type="text/css" href="/Content/pluginCss/cs-select.css" />
        <link rel="stylesheet" type="text/css" href="/Content/pluginCss/cs-skin-underline.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

        @RenderSection("scripts", required: false)
    </head>
    @{
        var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
    }
    <body class="frontpage">
        @helper selected(string c, string culture)
            {
                if (c == culture)
                {
                    @:class="selected"
                }
            }
            
        @using (Html.BeginForm("SetCulture", "Home", FormMethod.Post, new { @class="lang" }))
        {
            <div id="select-language">
                <input type="hidden" name="culture" />
                <a href="javascript:void(0);" @selected("en-us", culture) data-culture="en-us">En</a>
                <a href="javascript:void(0);" @selected("is-is", culture) data-culture="is">Is</a>
            </div>
        }
        @*Html.Partial("_NavigationPartialFixed")*@

        <div class="navbar col-xs-12 col-md-12">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="@Url.Action("Index", "Home")" class="navbar-brand">Xland</a>
                </div>
                <section class="category-select">
                
			        <select class="cs-select cs-skin-underline">
				        <option value="">@Resources.Resources.ChooseCategory</option>
                        <option value="0">@Resources.Resources.PublicSpaces</option>
				        <option value="1">@Resources.Resources.Historical</option>
				        <option value="2">@Resources.Resources.Competitions</option>
				        <option value="3">@Resources.Resources.Regional</option>
				        <option value="4">@Resources.Resources.All</option>
			        </select>
		        </section>
            </div>
        </div>
        <div id="map-container">
                @RenderSection("featured", required: false)
                @RenderBody()
        </div>
            @*Html.Partial("_NavigationPartialFixed")*@


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/map")
    @Scripts.Render("~/bundles/front")



    </body>
</html>
