<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title - Xland</title>

        @Styles.Render("~/Content/less/bootstrap.less")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")

        @RenderSection("scripts", required: false)
    </head>
    <body>
        <!--header>
            <div class="content-wrapper">
                
                <div class="float-right">
                    <section id="login">
                        @*@Html.Partial("_LoginPartialwwwwww")*@
                    </section>
                    
                </div>
            </div>
        </!--header-->

        

        <div id="wrap">
            @Html.Partial("_NavigationPartialFixed")
            @RenderSection("featured", required: false)
                
            @RenderBody()
        </div>
        
        
         
    @Scripts.Render("~/bundles/bootstrap")

    </body>
</html>
